<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS Login</title>
    <link rel="stylesheet" href="../../static/css/style.css"
</head>
<body>
    <div class="top">
        <h1 id="title">Company Login</h1>
        <div id="logo">
        </div>
    </div>


    <div class="bottom">
        <div id="form">
            <form action="/login" method="post">
                <label for="emp_id">EMP ID:</label> <br>
                <input type="text" id="emp_id" name="emp_id" required>
                <br>
                <br>
                <label for="password">Password:</label> <br>
                <input type="password" id="password" name="password" required>
                <br>
                <br>
                <button type="submit" id="login">Login</button>
            </form>
        </div>
    </div>
</body>
</html>